@font-face {
	font-family: "Vazir-FD-WOL";
	src: local("Vazir-FD-WOL"), url('Fonts/Vazir-FD-WOL.ttf') format("truetype");
  }

  @font-face {
	font-family: "B Yekan";
	src: local("B Yekan"), url('Fonts/Yekan.ttf') format("truetype");
  }

  :root {
	--primary-color: #0089ff;
	--secondary-color: #feca00;
	--hover-color: #0865c3;
	--text-color: #fff;
	--bg-color: #fff;
	--radius: 0.6rem;
	--shadow: 0 8px 32px rgba(0,0,0,0.1);
	--transition: all 0.3s ease-in-out;
  }

  * { box-sizing: border-box; margin: 0; padding: 0; font-family: "Vazir-FD-WOL", sans-serif; padding: 0;}
  a { text-decoration: none; color: inherit; }
  body { background: #f1f1f1; overflow-x: hidden; }

  header {
	position: fixed; top: 0; left: 0; width: 100%;
	height: 5rem; display: flex; align-items: center; justify-content: space-between;
	padding: 0 1rem; z-index: 999;
	background: rgba(255,255,255,0.3);
	backdrop-filter: blur(15px);
	border-bottom: 2px solid var(--secondary-color);
	box-shadow: var(--shadow);
  }

  .Logo-Header img { height: 3rem; }

  .Full-menu {
	display: flex; gap: 1rem;
  }
  .Menu {
	display: flex; align-items: center; gap: 0.4rem; justify-content: center;
	background: var(--primary-color); color: var(--text-color);
	padding: 0 1rem; border-radius: var(--radius);
	height: 3rem; transition: var(--transition); cursor: pointer; width: 8rem;
  }
  .Menu svg { width: 24px; height: 24px; }
  .Menu:hover {
	color: var(--hover-color);
	background: var(--bg-color);
	transform: scale(1.05);
	box-shadow: var(--shadow);
  }

  .buttom-menu {
	display: none; position: relative;
  }
  .Dropdown-btn {
	display: flex; align-items: center; justify-content: center;
	gap: 0.4rem; background: var(--primary-color); color: #fff;
	padding: 0 1rem; height: 3rem; border-radius: var(--radius);
	cursor: pointer;
	border: none; font-size: 18px;
	width: 11rem;
	transition: var(--transition);
  }
  .Dropdown-btn svg { transition: var(--transition); width: 2rem; height: 2rem;}
  .dropdown-content {
	position: absolute; top: 0rem; right: 0; width: 11rem;
	background: rgba(255,255,255,0.8); backdrop-filter: blur(25px);
	border-radius: var(--radius);
	opacity: 0; visibility: hidden; transition: var(--transition);
	flex-direction: column; text-align: center;
	z-index: -1; box-shadow: 2px 2px 14px rgba(0, 132, 255, 0.2);
  }
  .dropdown-content a {
	padding: 0.7rem 0; color: var(--primary-color);
	transition: var(--transition);
	display: flex; align-items: center; justify-content: center; gap: 0.3rem;
  }

  .dropdown-content svg{
	width: 22px;
  }
  .dropdown-content a:hover {
	background: var(--hover-color); color: #fff; border-radius: var(--radius); font-size: 20px;
  }
  .buttom-menu.active .dropdown-content { opacity: 1; visibility: visible ; position: absolute; top: 3.5rem;}
  .buttom-menu.active .Dropdown-btn svg { transform: rotate(90deg); }
  .buttom-menu.active .Dropdown-btn {background-color: var(--hover-color);}

  .container { margin: 0 auto; max-width: 1440px; padding: 0 1rem; }
  
  @media screen and (max-width: 820px) {
	.Full-menu { display: none; }
	.buttom-menu { display: flex; }
  }
  @media screen and (max-width: 420px) {
	.Logo-Header img { height: 2.5rem; }
	.Dropdown-btn { width: 8.5rem; font-size: 16px; }
	.dropdown-content { width: 8.5rem; }
  }

.sell-box{

	background: #fff;
	border-radius: var(--radius);
	box-shadow: 0 0 25px rgba(0, 132, 255, 0.25);
	margin-top: 6rem;
	padding: 2rem;
	display: flex;
	gap: 2rem;
	height: auto;
}

.left-content{
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.left-content h1{
	font-size: 2rem;
	color: var(--hover-color);
	font-family:"Vazir-FD-WOL";
}

.subtitle{
	font-size: 1.1rem;
	color: var(--primary-color);
	line-height: 1.8;
	font-family:"B Yekan";
}

.features-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	margin-top: 1rem;
}

.feature-item{
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.8rem;
	background: #f4f7ff;
	border-radius: var(--radius);
	cursor: pointer;
	transition: 0.3s;
	box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.feature-item:hover{
	background: #dcecff;
	transform: translateY(-4px);
	box-shadow: 0 6px 18px rgba(8, 102, 216, 0.1);
}

.feature-item span{
	color: var(--primary-color);
	font-size: 1.1rem;
}

.feature-item svg{
	width: 24px;
	height: 24px;
	fill: #0089ff;
}

.price-box{
	margin-top: 1rem;
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.price{
	font-size: 1.4rem;
	font-weight: bold;
	color: #0089ff;
}

.btn-buy{
	padding: 0.6rem 1.5rem;
	background: #0089ff;
	color: #fff;
	border: none;
	border-radius: var(--radius);
	cursor: pointer;
	transition: 0.3s;
}

.btn-buy:hover{
	background: var(--bg-color);
	color: var(--hover-color);
	transform: scale(1.05);
	box-shadow: 2px 2px 14px rgba(8, 102, 216, 0.3);
}

.demo-btn{
	color: #0089ff;
	text-decoration: none;
	font-size: 0.95rem;
	transition: var(--transition);
}

.demo-btn:hover{
	padding: 0.5rem 1rem;
	background: var(--primary-color);
	color: #fff;
	border: none;
	border-radius: var(--radius);
	cursor: pointer;
}

.right-preview{
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right-preview img{
	width: 100%;
	border-radius: var(--radius);
	box-shadow: 0 5px 20px rgba(0,0,0,0.15);
	transition: 0.3s;
}

.right-preview img:hover{
	transform: scale(1.02);
}

@media  (max-width: 992px) {
	right-preview{
		display: block;
	}
}

@media (max-width: 992px) {
	.sell-box{
		flex-direction: column;
	}

	.left-content, .right-preview{
		width: 100%;
	}
}

@media (max-width: 530px) {
	.features-grid{
		grid-template-columns: 1fr;
	}
	.btn-buy{
		width: 100%;
		text-align: center;
	}
	.price-box{
		flex-direction: column;
		align-items: flex-start;
	}
	.demo-btn{
		width: 100%;
		text-align: center;
	}
}

.footer{
	background: linear-gradient(135deg,var(--hover-color), var(--primary-color));
	border-top: 2px solid var(--secondary-color);
	padding: 3rem 0rem;
	width: 100%;
	margin-top: 2rem;
	color: var(--text-color);
}

.cloumnz{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
  .footer a {
	color: var(--text-color);
	text-decoration: none;
  }

  .footer-title {
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 18px;
	color: var(--secondary-color);
  }
  .footer .social-icons a {
	margin-left: 15px;
	font-size: 20px;
	color: var(--text-color);
  }
  .footer .social-icons a:hover {
	opacity: 0.8;
  }
  .footer .certificates img {
	width: 80px;
	margin-left: 15px;
	background-color: #fff;
	border-radius: 8px;
	padding: 5px;
  }
  .footer-bottom {
	border-top: 1px solid #dedede;
	margin-top: 30px;
	padding-top: 15px;
	text-align: center;
	font-size: 14px;
  }

  .list-unstyled a{
	transition: var(--transition);
  }

  .list-unstyled a:hover{
	color: var(--secondary-color);
	font-size: 17px;
  }

  @media screen and (max-width : 600px) {
	.cloumnz{
		display: grid;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
	}
	.footer-title {
		margin-bottom: 6px;
		margin-top: 12px;
	  }
  }