@font-face {
	font-family: "Vazir-FD-WOL";
	src: local("Vazir-FD-WOL"), url('Fonts/Vazir-FD-WOL.ttf') format("truetype");
  }

  @font-face {
	font-family: "B Yekan";
	src: local("B Yekan"), url('Fonts/Yekan.ttf') format("truetype");
  }

  @font-face {
	font-family: "dana light";
	src: local("dana light"), url('Fonts/dana-light.ttf') format("truetype");
  }

  @font-face {
	font-family: "dana";
	src: local("dana"), url('Fonts/dana-bold.ttf') format("truetype");
  }

  :root {
	--primary-color: #0089ff;
	--secondary-color: #feca00;
	--hover-color: #0865c3;
	--secondary-hover-color: #e4c70c;
	--text-color: #fff;
	--bg-color: #fff;
	--radius: 0.6rem;
	--shadow: 0 8px 32px rgba(0,0,0,0.1);
	--transition: all 0.3s ease-in-out;
	--Radius-2 : 0.5rem;
  }

  * { box-sizing: border-box; margin: 0; padding: 0; font-family: "Vazir-FD-WOL", sans-serif; padding: 0;}
  a { text-decoration: none; color: inherit; }
  body { background: #f1f1f1; overflow-x: hidden; }

  header {
	position: fixed; top: 0; left: 0; width: 100%;
	height: 5rem; display: flex; align-items: center; justify-content: space-between;
	padding: 0 1rem; z-index: 999;
	background: rgba(255,255,255,0.3);
	backdrop-filter: blur(15px);
	border-bottom: 2px solid var(--secondary-color);
	box-shadow: var(--shadow);
  }

  .Logo-Header img { height: 3rem; }

  .Full-menu {
	display: flex; gap: 1rem;
  }
  .Menu {
	display: flex; align-items: center; gap: 0.4rem; justify-content: center;
	background: var(--primary-color); color: var(--text-color);
	padding: 0 1rem; border-radius: var(--radius);
	height: 3rem; transition: var(--transition); cursor: pointer; width: 8rem;
  }
  .Menu svg { width: 24px; height: 24px; }
  .Menu:hover {
	color: var(--hover-color);
	background: var(--bg-color);
	transform: scale(1.05);
	box-shadow: var(--shadow);
  }

  .buttom-menu {
	display: none; position: relative;
  }
  .Dropdown-btn {
	display: flex; align-items: center; justify-content: center;
	gap: 0.4rem; background: var(--primary-color); color: #fff;
	padding: 0 1rem; height: 3rem; border-radius: var(--radius);
	cursor: pointer;
	border: none; font-size: 18px;
	width: 11rem;
	transition: var(--transition);
  }
  .Dropdown-btn svg { transition: var(--transition); width: 2rem; height: 2rem;}
  .dropdown-content {
	position: absolute; top: 0rem; right: 0; width: 11rem;
	background: rgba(255,255,255,0.8); backdrop-filter: blur(25px);
	border-radius: var(--radius);
	opacity: 0; visibility: hidden; transition: var(--transition);
	flex-direction: column; text-align: center;
	z-index: -1; box-shadow: 2px 2px 14px rgba(0, 132, 255, 0.2);
  }
  .dropdown-content a {
	padding: 0.7rem 0; color: var(--primary-color);
	transition: var(--transition);
	display: flex; align-items: center; justify-content: center; gap: 0.3rem;
  }

  .dropdown-content svg{
	width: 22px;
  }
  .dropdown-content a:hover {
	background: var(--hover-color); color: #fff; border-radius: var(--radius); font-size: 20px;
  }
  .buttom-menu.active .dropdown-content { opacity: 1; visibility: visible ; position: absolute; top: 3.5rem;}
  .buttom-menu.active .Dropdown-btn svg { transform: rotate(90deg); }
  .buttom-menu.active .Dropdown-btn {background-color: var(--hover-color);}

  .container { margin: 0 auto; max-width: 1440px; padding: 0 1rem; }
  
  @media screen and (max-width: 820px) {
	.Full-menu { display: none; }
	.buttom-menu { display: flex; }
  }
  @media screen and (max-width: 420px) {
	.Logo-Header img { height: 2.5rem; }
	.Dropdown-btn { width: 8.5rem; font-size: 16px; }
	.dropdown-content { width: 8.5rem; }
  }

.footer{
	background: linear-gradient(135deg,var(--hover-color), var(--primary-color));
	border-top: 2px solid var(--secondary-color);
	padding: 3rem 0rem;
	width: 100%;
	margin-top: 2rem;
	color: var(--text-color);
}

.cloumnz{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
  .footer a {
	color: var(--text-color);
	text-decoration: none;
  }

  .footer-title {
	font-weight: bold;
	margin-bottom: 20px;
	font-size: 18px;
	color: var(--secondary-color);
  }
  .footer .social-icons a {
	margin-left: 15px;
	font-size: 20px;
	color: var(--text-color);
  }
  .footer .social-icons a:hover {
	opacity: 0.8;
  }
  .footer .certificates img {
	width: 80px;
	margin-left: 15px;
	background-color: #fff;
	border-radius: 8px;
	padding: 5px;
  }
  .footer-bottom {
	border-top: 1px solid #dedede;
	margin-top: 30px;
	padding-top: 15px;
	text-align: center;
	font-size: 14px;
  }

  .list-unstyled a{
	transition: var(--transition);
  }

  .list-unstyled a:hover{
	color: var(--secondary-color);
	font-size: 17px;
  }

  @media screen and (max-width : 600px) {
	.cloumnz{
		display: grid;
		margin: 0 auto;
		justify-content: center;
		align-items: center;
	}
	.footer-title {
		margin-bottom: 6px;
		margin-top: 12px;
	  }
  }

  main{
	margin-top: 6rem;
  }

  .Title-Box{
	background-image: linear-gradient(125deg,#fff,#e9e9e9);
	padding: 2rem 2%;
	width: 100%;
	border-right: 4px solid var(--primary-color);
	border-radius: var(--radius);
	box-shadow: 4px 4px 14px rgba(0, 132, 255, 0.2);
	transition: var(--transition);
  }
  .About-Title h1{
	font-size: 1.6rem;
	font-family: "Vazir-FD-WOL";
	color: var(--hover-color);
	margin-bottom: 0.5rem;
  }
  .About-Title p{
	font-size: 1.1rem;
	font-family: "dana light";
	color: var(--primary-color);
  }

  .Title-Box:hover{
	transform: translateY(-4px);
	box-shadow: 4px 4px 14px rgba(0, 132, 255, 0.3);
  }

  .Top-Title-Image img{
	width: 100%;
	border-radius: var(--radius);
	box-shadow: 3px 4px 14px rgba(0, 0, 0, 0.1);
	margin-bottom: 1rem;
  }

  .About-Me{
	margin-top: 2rem;
	background-image: linear-gradient(125deg,#fff,#e9e9e9);
	padding: 2rem 2%;
	width: 100%;
	border-right: 4px solid var(--secondary-color);
	border-radius: var(--radius);
	box-shadow: 4px 4px 14px rgba(255, 247, 0, 0.2);
	transition: var(--transition);
  }

  .About-Me:hover{
	transform: translateY(-4px);
	box-shadow: 4px 4px 14px rgba(246, 255, 0, 0.3);
  }

  @media screen and (max-width : 526px) {
	.About-Title h1{
		font-size: 1.2rem;
		text-align: center;
	  }
	  .About-Title p{
		font-size: 1rem;
	  }
  }

  .Title-About-Me{
	color: var(--secondary-hover-color);
	font-size: 1.5rem;
	font-family: "Vazir-FD-WOL";
	margin-bottom: 1rem;
  }

  .Box-ABout-Me{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 0.5rem;
	flex-wrap: wrap;
  }

  .Box-About{
	padding: 0.5rem 1.5rem;
	color: var(--text-color);
	background-color: var(--secondary-color);
	border-radius: var(--Radius-2);
	box-shadow: 2px 2px 12px rgba(255, 247, 0, 0.2);
	text-align: center;
	transition: var(--transition);
	flex-basis: 27rem;
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.1rem;
	font-family: "dana";
  }

  .Box-About:hover{
	transform: translateY(-4px) ;
	box-shadow: 2px 2px 12px rgba(246, 255, 0, 0.3) ;
	background-color: var(--bg-color);
	color: var(--secondary-hover-color);
  }

  @media screen and (max-width : 1440px){
	.Box-About{
		flex-basis: 22rem;
	  }
  }
  @media screen and (max-width : 940px){
	.Box-About{
		flex-basis: 16rem;
	  }
  }
  @media screen and (max-width : 596px){
	.Box-About{
		flex-basis: 31rem;
	  }
  }

  
.skills{
	margin-top: 2rem;
	background-image: linear-gradient(125deg,#fff,#e9e9e9);
	padding: 2rem 2%;
	width: 100%;
	border-right: 4px solid var(--primary-color);
	border-radius: var(--radius);
	box-shadow: 4px 4px 14px rgba(0, 132, 255, 0.2);
	padding: 2rem 2%;
	transition: var(--transition);
}

.skills h2 {
	color: var(--hover-color);
	margin-bottom: 1rem;
	font-family: "Vazir-FD-WOL";
	font-size: 2rem;
}

.skills-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.skill-card {
	background: #fff; 
	padding: 1rem; 
	border-radius:var(--radius); 
	box-shadow:var(--shadow); 
	box-shadow: 3px 3px 14px rgba(0, 132, 255, 0.2);
	color: var(--primary-color);
	font-family: "dana";
	transition: var(--transition);
}

.skill-card h3 { 
	margin-bottom: 
	0.5rem; color: 
	var(--primary-color); 
}

.skills:hover{
		transform: translateY(-4px);
		box-shadow: 4px 4px 14px rgba(0, 132, 255, 0.3);
}

.progress { 
	background: #eee; 
	height: 12px; 
	border-radius: 999px; 
	overflow: hidden; 
	margin-bottom: 0.6rem; 
}

.progress span { 
	display: block; 
	height: 100%;
	border-radius:var(--radius); 
	background: linear-gradient(90deg, var(--primary-color), var(--hover-color)); 
	color: transparent; 
}

.skill-card:hover {
	transform: translateY(-4px);
	box-shadow: 3px 3px 14px rgba(0, 132, 255, 0.3);
}

@media screen and (max-width:1265px){
	.skills-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
	}
}
@media screen and (max-width:645px){
	.skills-grid {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 1rem;
	}
}

.services {
	margin-top: 2rem;
	background-image: linear-gradient(125deg,#fff,#e9e9e9);
	padding: 2rem 2%;
	width: 100%;
	border-right: 4px solid var(--secondary-color);
	border-radius: var(--radius);
	box-shadow: 4px 4px 14px rgba(255, 247, 0, 0.2);
	transition: var(--transition);
}

.services h2{
	color: var(--secondary-hover-color);
	font-size: 1.5rem;
	font-family: "Vazir-FD-WOL";
}

.services h3{
	color: var(--secondary-hover-color);
	font-family: "Vazir-FD-WOL";
}

.services-grid { 
	display: grid; 
	grid-template-columns:repeat(3, 1fr); 
	gap: 1rem;
	margin-top: 1rem;
}
.service { 
	background: #fff; 
	padding: 1rem; 
	border-radius: var(--radius); 
	box-shadow: var(--shadow);
}

.service p{
	font-family: "dana";
	color: var(--secondary-color);
	margin-top: 0.4rem;
}

.services:hover{
		transform: translateY(-4px);
		box-shadow: 4px 4px 14px rgba(246, 255, 0, 0.3);
}

@media screen and (max-width:1100px) {
	.services-grid { 
		display: grid; 
		grid-template-columns:repeat(1, 1fr); 
		gap: 1rem;
		margin-top: 1rem;
	}
}